@using HealthDashboard.WebApp.ViewModels

<div class="group__wrapper">

    <h3 class="group__header">@Group.Label</h3>

    <button class="button group__button--refresh" @onclick="Refresh" title="Refresh group">
        <SvgIcon SvgUrl="/assets/refresh_icon.svg" />
    </button>

    <ul class="group__list">
        @foreach (var item in sortedItems)
        {
            <li class="group__list-item">
                <ItemView Item="@item" RefreshItem="RefreshItem" />
            </li>
        }

    </ul>

</div>

@code {
    [Parameter]
    public required GroupViewModel Group { get; set; }

    [Parameter]
    public EventCallback<string> RefreshGroup { get; set; }

    [Parameter]
    public EventCallback<string> RefreshItem { get; set; }

    private ItemViewModel[] sortedItems => Group.Items.OrderBy(r => r.Order).ToArray();

    async Task Refresh()
    {
        await RefreshGroup.InvokeAsync(Group.Name);
    }
}
