@using HealthDashboard.WebApp.Interfaces
@using HealthDashboard.WebApp.ViewModels

@inject IItemService _itemService;

<div class="group__wrapper">

    <h3 class="group__header">@Group.Label</h3>

    <button class="button group__button--refresh" @onclick="Refresh" title="Refresh group">
        <SvgIcon SvgUrl="/assets/refresh_icon.svg" />
    </button>

    <ul class="group__list">
        @foreach (var item in sortedItems)
        {
            <li class="group__list-item">
                <ItemView Item="@item" />
            </li>
        }

    </ul>

</div>

@code {
    [Parameter]
    public required GroupViewModel Group { get; set; }

    ItemViewModel[] sortedItems => Group.Items.OrderBy(r => r.Order).ToArray();

    async Task Refresh()
    {
        var options = new ParallelOptions { MaxDegreeOfParallelism = 10 };
        await Parallel.ForEachAsync(Group.Items, options, async (i, _) => await UpdateItem(i));
    }

    private async Task UpdateItem(ItemViewModel item)
    {
        await InvokeAsync(async () => { await _itemService.UpdateHealthAsync(item); });
    }

}
